html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: navy;
}

ol, ul {
	list-style: none;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    
}

.pricing-button {
    color: white;
    background-color: blue;
    border: 1px solid  blue;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 25px 0;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus{
    background-color: lightblue;
    border: 1px solid lightblue;
}

.pricing-button.is-featured {
    background-color: rgb(188, 0, 0);
    border: 1px soild rgb(188, 0, 0);
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
    background-color: rgb(255, 55, 55);
    border: 1px soild rgb(255, 55, 55);
}


.pricing-plan {
    border-bottom: 1px solid darkblue;
}
.pricing-plan:last-child{
    border-bottom: none ;
}

.pricing-img {
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
}

.pricing-header {
    color: gray;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: rgb(106, 18, 183);
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    border-top: 1px solid blue;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid blue;
}

.pricing-price {
    color: rgb(106, 18, 183);
    display: block;
    font-size: 32px;
    font-weight: 700px;
    
}

@media (min-width: 768px) {
    .panel {
        flex-direction: row;
    }

    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid purple;
        padding: 25px 50px;
    }

    .pricing-plan:last-child {
        border-right: none;
    }

}